body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* header */

.container {
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}
.container .header {
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 1158px;
  margin: 0 auto;
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.studio {
  color: #2e2f42;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header-nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-item:hover {
  color: #404bbf;
}

.header-nav-item:focus {
  color: #404bbf;
}

.header-nav-item.current {
  position: relative;
  color: #404bbf;
}

.header-nav-item::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;

  opacity: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-item:hover::after,
.header-nav-item:focus::after,
.header-nav-item.current::after {
  opacity: 1;
}

.header-adress {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-adress:hover {
  color: #404bbf;
}
.header-adress:focus {
  color: #404bbf;
}
.container-address-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* Main */

.page-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  display: block;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.section-page-title {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.title-section-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  display: block;
  margin: auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-section-button:hover {
  background-color: #404bbf;
}
.title-section-button:focus {
  background-color: #404bbf;
}

.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-features {
  padding: 120px 0;
}
.section-title {
  line-height: 1.2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.section-features-list {
  width: calc((100% - 24px * 3) / 4);
}
.column-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.svg-wrapper {
  height: 112px;
  width: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.team-section {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team {
  margin-bottom: 72px;
}

.team-section-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.team-section-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.text-team {
  text-align: center;
  margin-bottom: 8px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #404bbf;
}
.svg-social {
  fill: #f4f4fd;
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.portfolio-section.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio.section-title {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-item {
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  cursor: pointer;
}

.portfolio-list-item:hover .cover-text {
  transform: translate(0);
}
.text-wrapper {
  padding: 32px 16px;
  border-top: none;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.our-portfolio {
  text-align: left;
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.cover-text {
  position: absolute;
  background-color: #4d5ae5;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  height: 100%;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 32px;
  padding-left: 32px;
  top: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-logo-wrapper {
  margin-right: 120px;
}

.footer-social-media {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-media-link.foot:hover,
.social-media-link.foot:focus {
  background-color: #31d0aa;
}
